.h {color: white;
	text-align: center;
	font-size: 50px;
	background-color: #0DBADE;}

.K	{color:#0FFA5E ;
	text-align: center;
	font-size: 50px;
	background-color: #0DBADE;}

p 	{color: blueviolet;
	text-align: left;
	font-size: 20px;}
